# ══════════════════════════════════════════
# ABDULMALEK PORTFOLIO — Environment Variables
# ══════════════════════════════════════════

# Server
PORT=3000
NODE_ENV=development

# Admin
ADMIN_KEY=M.malek.1

# MongoDB
# محلي:
MONGO_URI=mongodb://localhost:27017/videoDB
# أو MongoDB Atlas (مجاناً):
# MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/videoDB
